.home{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin: 0% 2%; */
}


.header__top{
    display: flex;
}

.home__right__img{
    object-fit: contain;
    width: 60%;
}


.home__left__details{
    font-size: 19px;
    font-family: sans-serif;
    line-height: 37px;
    text-align: justify;
    /* margin-left: 11%; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* display: initial; */
    margin-left: 13%;
    margin-top: 8%;
}



.home__bottom__details{

font-size: 18px;
    font-family: sans-serif;
    line-height: 35px;
    text-align: initial;
    /* margin-left: 11%; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* display: initial; */
    /* margin-left: auto; */
    /* margin-top: 8%; */
    margin: auto;
    margin: 1% 6%;

}


.home__bottom__accountRegistration{
    display: flex;
    margin-top: 2%;
}


.home__bottom__accountRegistration__heading{
    color: #ff7234;
    font-family: cursive;
    text-align: initial;
    margin-left: 2%;
}


.home__bottom__accountRegistration__details{

    font-family: sans-serif;
    line-height: 35px;
    text-align: justify;
    /* margin-left: 11%; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* display: initial; */
    margin-left: 8%;
    font-size: 18px;
    margin: 2% 7%;
    margin-left: 2%;
    margin-right: 10%;
}

.home__bottom__accountRegistration__left__img{

    width: 60%;
    margin-left: 20%;
}


.home__bottom__listingSetup{
    display: flex;
    margin-top: 2%;
}


.home__bottom__listingSetup__left{
    margin-left: 86px;
}


.home__bottom__listingSetup__right__img{
    width: 72%;
    margin-right: 6%;
    margin-top: 4%;
}


.home__bottom__listingSetup__heading{
    font-family: cursive;
    text-align: initial;
    margin-left: 2%;
    color: #ff7234;
}


.home__bottom__listingSetup__details{
    font-family: sans-serif;
    line-height: 35px;
    text-align: justify;
/* margin-left: 11%; */
/* margin: auto; */
justify-content: center;
align-items: center;
/* display: initial; */
margin-left: 8%;
font-size: 18px;
margin: 2% 7%;
margin-left: 2%;
margin-right: 10%;
}






.home__bottom__accountManagement{
    display: flex;
}


.home__bottom__accountManagement__right__heading{

    font-family: cursive;
    text-align: initial;
    margin-left: 2%;
    color: #ff7234;
}







.home__bottom__accountManagement__right__details{
    line-height: 35px;
    text-align: justify;
    /* margin-left: 11%; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* display: initial; */
    margin-left: 8%;
    font-size: 18px;
    margin: 2% 7%;
    margin-left: 2%;
    margin-right: 10%;
    font-family: sans-serif;
}


.home__bottom__accountManagement__left{
    margin-top: 4%;
    margin-left: -20%;
}


.home__bottom__accountManagement__left__img{
    margin-right: 10%;
    margin-top: -4%;
    width: 28%;
}


.home__bottom__accountManagement__right{

    margin-left: -30%;
}


.home__bottom__enhancedBrand{
    margin-top: 2%;
}

.home__bottom__enhancedBrand__right__heading{

    font-family: cursive;
    text-align: center;
    margin-left: 2%;
    color: #ff7234;
}


.home__bottom__enhancedBrand__right__details{

    line-height: 35px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    font-size: 18px;
    margin: 2% 7%;
    font-family: sans-serif;
}



.home__bottom__catalouging__right__heading{

    font-family: cursive;
    text-align: center;
    margin-left: 2%;
    color: #ff7234;
}




.home__bottom__catalouging__right__details{
    line-height: 35px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    font-size: 18px;
    margin: 2% 7%;
    font-family: sans-serif;
}



